.container {
  display: flex;
  /* flex-direction: row; */
  flex-direction: row-reverse;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
}

.Item {
  padding: 10px;
  margin: 10px;
  background-color: skyblue;
}
